:root{
    --background-color: #fff;
    --text-color: #fff;
    --primary-color: #6200ea;
    --primary-color-dark : #3f009a;
    --primary-color-light : #e8d9ff;
    --secondary-color: #000;
    --tertiary-color: #ffeb3b;
    --quaternary-color: #ff9800;
    --fifth-color: #4caf50;
    --sixth-color: #f44336;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.topbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.socials {
    font-family: "BBH Sans Bartle", sans-serif;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 5px 200px 5px 10px;
    display: flex;
    align-items: center;
    border: 4px solid var(--primary-color);
    height: 30px;
}

.socials img {
    width: 75px;
    filter: invert(1);
}

.socials a {
    position: absolute;
    color: var(--text-color);
    animation: slideUp 0.3s ease-out;
    margin-left: 80px;
}

.socials a:not(:nth-child(2)) {
    display: none;
}

.socials:hover {
    background-color: var(--primary-color-dark);
    border: 4px solid var(--primary-color-dark);
    transition: 0.3s;
    cursor: pointer;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: "BBH Sans Bartle", sans-serif;
    background-color: var(--primary-color-light);
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border: 4px solid var(--primary-color-light);
    height: 30px;
    margin-left: 3px;
}

.menu a:first-child {
    border-radius: 50px 0 0 50px;
}

.menu a:nth-last-child(2) {
    border-radius: 0 50px 50px 0;
}

.menu a.contact {
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color);
    color: var(--text-color);
    margin-left: 10px;
    border-radius: 50px;
}

.menu a:hover:not(.contact) {
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color);
    color: var(--text-color);
    transition: 0.3s;
}

.menu a.contact:hover {
    background-color: var(--primary-color-dark);
    border: 4px solid var(--primary-color-dark);
    transition: 0.3s;
}

.name-container {
    text-align: center;
    margin-top: 250px;
    z-index: 1;
    position: relative;
    font-family: "BBH Sans Bartle", sans-serif;
    color: var(--secondary-color);
    font-size: 100px;
}

.name-container div:first-child{
    padding-right: 250px;
    margin-left: 50px;
}

.name-container div:last-child{
    padding-left: 480px;
}

.circle {
    position: fixed;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: -1;
    animation: toDown 1s ease-out forwards;
}

@keyframes toDown {
    from {
        bottom: 130vh
    }
    to {
        bottom: -25px;
    }
}