:root{
    --background-color: #fff;
    --text-color: #fff;
    --primary-color: #6200ea;
    --primary-color-dark : #3f009a;
    --primary-color-light : #e8d9ff;
    --secondary-color: #000;
    --tertiary-color: #ffeb3b;
    --quaternary-color: #ff8c00;
    --fifth-color: #4caf50;
    --sixth-color: #f44336;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}